.example-card {
  max-width: 100px;
  max-height : 50px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-grid-tile {
  border: groove;
}
